{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Customer Profiles</h2>

    {% for message in get_flashed_messages(category_filter=['delete,edit,add']) %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}

    <div class="mb-3 d-flex justify-content-end">
        <a href="{{ url_for('edit_customer_add') }}" class="btn btn-outline-success">Add a Customer</a>
    </div>

    <div class="row">
        {% for customer in customers %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">{{ customer['name'] }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Customer Number:</strong><br> {{ customer['customer_number'] }}</p>
                    <p class="card-text"><strong>Username:</strong> <br>{{ customer['username'] }}</p>
                    <p class="card-text"><strong>Email:</strong> <br>{{ customer['email'] }}</p>
                    <p class="card-text"><strong>Phone Number:</strong><br> {{ customer['phone_number'] }}</p>  
                    <p class="card-text"><strong>Address:</strong><br>{{ customer['address'] }}</p>
                    <br>
                    <a href="{{ url_for('edit_customer_page', customer_id=customer['user_id']) }}" class="btn btn-outline-secondary mr-5 btn-sm" style="width: 70px;">Edit</a>
                    <a href="{{ url_for('delete_customer', customer_id=customer['user_id']) }}" class="btn btn-outline-danger  btn-sm" style="width: 70px;">Delete</a>

                 

                </div>
            </div>
        </div>
        {% endfor %}
    </div>



</div>
{% endblock %}
