{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Customer Profiles</h2>
    
    <div class="mb-3 d-flex justify-content-end">
        <a href="{{ url_for('edit_customer_add') }}" class="btn btn-outline-info">Add a Customer</a>
    </div>

    <div class="row">
        {% for customer in customers %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">{{ customer['name'] }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Username:</strong> {{ customer['username'] }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ customer['email'] }}</p>
                    <p class="card-text"><strong>Phone Number:</strong> {{ customer['phone_number'] }}</p>  
                    <p class="card-text"><strong>Address:</strong> {{ customer['address'] }}</p>
                    <a href="{{ url_for('edit_customer_page', customer_id=customer['user_id']) }}" class="btn btn-outline-primary btn-sm">Edit</a>
                    <a href="{{ url_for('delete_customer', customer_id=customer['user_id']) }}" class="btn btn-outline-primary btn-sm">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
