{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Edit Staff Profile</h2>
    <form method="POST" action="{{ url_for('edit_staff_page',staff_id=staff['user_id']) }}" >

        <div class="form-group">
            <label for="staff_number">Staff Number:</label>
            <input type="text" class="form-control" id="staff_number" name="staff_number" value="{{ staff['staff_number'] }}" >
        </div>

        <div class="form-group">
            <label for="username">Username*:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ staff['username'] }}" required>
            <small id="usernamehelp" class="form-text text-muted">
                Username must contain only characters and numbers.
            </small>
        </div>

        <div class="form-group">
            <label for="name">Name*:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ staff['name'] }}" required>
            <small id="namehelp" class="form-text text-muted">
                Name should only contain letters and spaces.
            </small>
        </div>

        <div class="form-group">
            <label for="email">Email*:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ staff['email'] }}" required>
            <small id="emailhelp" class="form-text text-muted">
                Valid email format: username@example.com
            </small>
        </div>

        <div class="form-group">
            <label for="phone_number">Phone Number:</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ staff['phone_number'] }}" >
        </div>

        <div class="form-group">
            <label for="date_joined">Joined Date*:</label>
            <input type="date" class="form-control" id="date_joined" name="date_joined" value="{{ staff['date_joined'] }}" required>
        </div>
        
        <div class="form-group">
            <label for="role_name">Role Name*:</label>
            <select class="form-control" id="role_name" name="role_name">
                <option value="staff" {% if staff['role_name'] == 'staff' %}selected{% endif %}>Staff</option>
                <option value="staff-admin" {% if staff['role_name'] == 'staff-admin' %}selected{% endif %}>Staff-Admin</option>
            </select>
            <br>
            <small id="registerhelp" class="form-text text-muted">
                <strong>* is the required field</strong>
            </small>
        </div>
        


        <button type="submit" class="btn btn-secondary mr=3">Edit Staff</button>
        <a href="{{ url_for('editstaff') }}" class="btn btn-outline-secondary ">Return</a>

 
    </form>
</div>
{% endblock %}