<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            background: url('/static/background.png') no-repeat center center fixed; 
            background-size: cover;             
        }

        .card {
                background: rgba(255, 255, 255, 0.8); /*  for better readability */
    
            }
   
    </style>



</head>
<body class="bg-light">
    <!-- Bootstrap nevi panel with blue background -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow-sm p-3 mb-5">
        <div class="container">
            <a class="navbar-brand"  href="{{ home_url }}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
				    {% if session['role_name'] == 'staff' %}
                    <li class="nav-item mr-3"><a class="navbar-brand" href="{{ url_for('viewcustomer') }}">ViewCustomer</a></li>
                    {% endif %}

                    {% if session['role_name'] == 'staff-admin' %}
                    
                    <li class="nav-item mr-3"><a class="navbar-brand" href="{{ url_for('editcustomer') }}">ManageCustomer</a></li>
                    <li class="nav-item mr-3"><a class="navbar-brand" href="{{ url_for('editstaff') }}">ManageStaff</a></li>
                    {% endif %}
					<li class="nav-item mr-3"><a class="navbar-brand" href="{{ url_for('profile') }}">MyProfile</a></li>
                    <li class="nav-item mr-3"><a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- info area -->
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

	<script>
		function toggleDetails(button) {
			// get the folded info related id
			var collapseId = button.getAttribute('data-target');
	
			// swtich the display mode
			$(collapseId).collapse('toggle');
		}
	</script>
	
	
	



    <!-- Bootstrap JavaScript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
