<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
       
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
        <style>
            body {
                background: url('/static/background.png') no-repeat center center fixed; 
                background-size: cover;             
            }
            .card {
                background: rgba(255, 255, 255, 0.8); /*  for better readability */
                margin-top: 110px; 
            }

        

             .title {
           font-family: 'Arial', sans-serif; 
           color: #596574; 
             } 
         

        </style>

    </head>
    <body>
  

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3 class="title" >Login</h3>
                        </div>
                        <div class="card-body">
                            <!-- login form-->
                            <form action="{{ url_for('login') }}" method="post">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                    
                                    <!-- add JS to change password to text when select "show password" -->
                                    <input type="checkbox" onclick="showPassword()"> Show Password
                                </div>
                                
                                <div class="pt-1 mb-4">
                                    <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
                                </div>
                                <div class="msg">{{ msg }}</div>
                            </form>
                            <!-- nevi-->
                            <div class="d-flex justify-content-around mt-4">
                                <p>Not a member? <a href="{{ url_for('register') }}" >Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- add JS to change password to text when select "show password" -->

        <script>
            function showPassword() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
    </body>
</html>
