{% extends 'layout.html' %}



{% block content %}
<div class="container mt-5">
    <h2 class="mb-3">Welcome back, {{ account['username'] }}!</h2>
    

    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-info" role="alert">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-4">Profile Page</h3>
                  
                    <div class="mb-3">
                        <h6>Username</h6>
                        <p class="text-muted">{{ account['username'] }}</p>
                    </div>
               
                    <div class="mb-3">
                        <h6>Name</h6>
                        <p class="text-muted">{{ account['name'] }}</p>
                    </div>
                 
                    <div class="mb-3">
                        <h6>Email</h6>
                        <p class="text-muted">{{ account['email'] }}</p>
                    </div>
                   
                    <div class="mb-3">
                        <h6>Password</h6>
                        <p class="text-muted">*********</p>
                    </div>
                
                    <div class="mb-3">
                        <h6>Phone Number</h6>
                        <p class="text-muted">{{ account['phone_number'] }}</p>
                    </div>
                    
                    {% if session['role_name'] == 'customer' %}
                    <div class="mb-3">
                        <h6>Address</h6>
                        <p class="text-muted">{{ customer['address'] }}</p>
                    </div>
                    {% endif %}

                    {% if session['role_name'] == 'staff' %}
                    <div class="mb-3">
                        <h6>Join date</h6>
                        <p class="text-muted">{{ staff['date_joined'] }}</p>
                    </div>
                    <div class="mb-3">
                        <h6>Staff number</h6>
                        <p class="text-muted">{{ staff['staff_number'] }}</p>
                    </div>
                    {% endif %}

                    <br>
           
                         <a href="{{ url_for('update_profile') }}"  class="btn btn-outline-secondary" >Edit profile</a>
                         <a href="{{ url_for('updateprofile_password') }}"  class="btn btn-outline-secondary" >Generate a new password</a>
                   

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
