<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
     
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     

        <style>
            body {
                background: url('/static/background.png') no-repeat center center fixed; 
                background-size: cover;
            }
            .card {
                background: rgba(255, 255, 255, 0.8); /* Optional: for better readability */
            }
            .page-title {
           font-family: 'Arial', sans-serif; /* Example font */
           color: #ffffff; /* Bootstrap primary color, you can customize it */
             }

             .title {
           font-family: 'Arial', sans-serif; /* Example font */
           color: #596574; /* Bootstrap primary color, you can customize it */
             } 

             
             .grey-link {
             color: grey;
             } 

             .grey-link:hover {
            color: darkgrey;
              }
         

        </style>

    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="title card-title text-center">Register</h3>
                            <form action="{{ url_for('register') }}" method="post" autocomplete="off" class="needs-validation" novalidate>
                                <div class="form-group">
                                    <div class="msg" style="color: rgb(238, 109, 109);" >{{ msg }}</div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="name">Name*</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" value="{{ form_data.name or '' }}" required>
                                    <small id="namehelp" class="form-text text-muted">
                                        Name should only contain letters and spaces.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="username">Username*</label>
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username" value="{{ form_data.username or '' }}" required>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password*</label>
                                    <input type="password" class="form-control" name="password" placeholder="Enter your password" id="password" required>
                                    <input type="checkbox" onclick="showPassword()"> Show Password
                                    <small id="passwordhelp" class="form-text text-muted">
                                        Password must have at least 4 characters.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" class="form-control" name="phone_number" id="phone_number" placeholder="Enter your phone number" value="{{ form_data.phone_number or '' }}">
                                    
                                </div>

                                <div class="form-group">
                                    <label for="email">Email*</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" value="{{ form_data.email or '' }}" required>
                                    <small id="emailhelp" class="form-text text-muted">
                                        Valid email format: username@example.com
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="address">Address*</label>
                                    <input type="text" class="form-control" name="address" id="address" placeholder="Enter your address" value="{{ form_data.address or '' }}" required>
                                    <small id="registerhelp" class="form-text text-muted">
                                        * is the required field
                                    </small>
                               
                                </div>
                                
                                

                                <button type="submit" class="btn btn-outline-secondary btn-block mb-4">Register</button>
                            </form>

                            <div class="d-flex justify-content-around mt-4">
                                <p>Already has an account? <a href="{{ url_for('login') }}"  class="grey-link" >Login</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            function showPassword() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
    </body>
</html>
