{% extends 'layout-staff.html' %}

{% block title %}Holiday Houses{% endblock %}

{% block content %}

    <div class="container mt-4">

        <div class="mb-3">
            <a href="{{ url_for('add_house') }}" class="btn btn-success">Add a house</a>
        </div>

        <div class="row">
            
            {% for house in holiday_houses %}
                <div class="col-md-4 mb-4 d-flex align-items-stretch">
                    <div class="card w-100">
                        <img src="{{ url_for('static', filename=house.house_image) }}" class="card-img-top" alt="House Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title" style="height: 60px;">{{ house.house_address }}</h5>
                            <!-- button to trigger folded info -->
                            <a href="#collapse{{ house.house_id }}" class="btn btn-primary mt-auto" data-toggle="collapse"
                             role="button" aria-expanded="false" aria-controls="collapse{{ house.house_id }}" onclick="toggleDetails(this)">View Details</a>
                            
                             <div class="card-body">
                                <a href="{{ url_for('edit_house', house_id=house.house_id) }}" class="btn btn-primary">Edit</a>
                                <a href="{{ url_for('delete_house', house_id=house.house_id) }}" class="btn btn-danger">Delete</a>
                            </div>

                            <!-- folded info -->
                            <div class="collapse" id="collapse{{ house.house_id }}">
                                <div class="card card-body">
                                    Bedrooms: {{ house.number_of_bedrooms }}<br>
                                    Bathrooms: {{ house.number_of_bathrooms }}<br>
                                    Max Occupancy: {{ house.maximum_occupancy }}<br>
                                    Rental per Night: ${{ house.rental_per_night }}<br>
                                 
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    
{% endblock %}
