{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Edit your password</h2>

    <form method="POST" action="{{ url_for('updateprofile_password') }}" class="bg-light p-4 border rounded">
        <!-- Existing fields -->

        <div class="form-group mb-3">
            <label for="new_password" class="form-label">New Password:</label>
            <input type="password" id="new_password" name="new_password" class="form-control" required>
            <small id="passwordHelpBlock" class="form-text text-muted">
                <li>Password must have at least 4 characters.</li>
                {% if session['role_name'] == 'staff' or  session['role_name'] == 'staff-admin' %}
               <li> If you are a staff member logging in for the first time, your default password is 56789, please update it in time.</li>
                {% endif %}
                {% if session['role_name'] == 'customer' %}
                 <li> * If your account was added by an employee rather than registered by yourself, your initial default password is 123456, please update it in time.</li>
                {% endif %}
          
            </small>
        </div>

        <div class="form-group mb-3">
            <input type="checkbox" onclick="togglePassword()"> Show Password
        </div>

        <div class="form-group mb-3">
            <label for="confirm_password" class="form-label">Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
        </div>

        <!-- Existing fields -->

        <button type="submit" class="btn btn-outline-secondary">Update Password</button>
        <a href="{{ url_for('profile') }}"  class="btn btn-outline-secondary" >Back</a>
    </form>
</div>

<script>
    function togglePassword() {
        var newPassword = document.getElementById("new_password");
        var confirmPassword = document.getElementById("confirm_password");
    
        if (newPassword && newPassword.type === "password") {
            newPassword.type = "text";
        } else if (newPassword) {
            newPassword.type = "password";
        }
    
        if (confirmPassword && confirmPassword.type === "password") {
            confirmPassword.type = "text";
        } else if (confirmPassword) {
            confirmPassword.type = "password";
        }
    }
    </script>
    

{% endblock %}
